/* Set Your Own Margin & Padding */
.color-1 {
	background: rgb(220, 66, 70);
}
.color-2 {
	background: rgb(5, 75, 117);
}
.color-3 {
	background: rgb(94, 108, 117);
}
.color-4 {
	background: rgb(155, 178, 194);
}
.color-5 {
	background: rgb(243, 245, 246);
}

h1 {
	font-family: 'Della Respira', serif;
}

h2, h3, p {
	margin: 10px;
	font-family: 'News Cycle', sans-serif;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	border-radius: 10px;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.pattern-1 {
	background: url("../img/45degreee_fabric.png") repeat-y;
}
.pattern-2 {
	background: url("../img/px_by_Gre3g.png") repeat-y;
}
.pattern-3 {
	background: url("../img/retro_intro.png") repeat-y;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}